<div class="comments text-center bg-gray-100 border-2 border-green-500 border-opacity-50 rounded-lg divide-y divide-black">
    {{#each this}}
    <section class="comment">
        <div class = "text">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>