<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>Fresh Tech Blog</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets.style.css">
</head>

<body class="font-serif bg-gray-200">
    <div class="container mx-auto">
        <header class="bg-gradient-to-r from-green-500 to-gray-200px-8">
            <nav class="text-right pr-8">
                {{#if loggedIn}}
                <a href="/dashboard">dashboard</a>
                <span>/</span>
                <button id="logout" class="btn-no-style hover:bg-gray-300">logout</button>
                {{else}}
                <a href="/login">login</a>
                {{/if}}
            </nav>
            <h1 class="text-center text-4xl p-8 font-semibold tracking-wider">
                <a href="/">Fresh Tech Blog</a>
            </h1>
        </header>
        <div class="flex justify-center"></div>
            <main>
            {{{ body }}}
            </main>
        </div>
    </div>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>


</html>