<div class="container mx-auto">
  <div class="grid justify-items-center py-8">
    <h2>
      Edit Post
    </h2>
    <form class="edit-post-form">
      <div>
        <input name="post-title" type="text" value="{{post.title}}" />
        <span>({{format_url post.post_url}})</span>
      </div>
      <div class="text-center py-8">
      <div>
        <button type="submit">Save post</button>
      </div>
      <div>
        <button type="button" class="delete-post-btn">Delete post</button>
      </div>
      </div>
    </form>
  </div>
</div>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>