<div class="text-center">Become Homepage</div>

<div class="grid grid-cols-3">

   
        {{#each posts as |post|}}
        <div>
            {{> post-info post}}
        </div>
        {{/each}}
        <div>
            I'm an Item
        </div>
        <div>
            So am I
        </div>
        <div>
            Me too
        </div>
  


</div>