<div class="grid grid-cols-2 pt-6">
<form class = "login-form text-center">
    <div class="cursor-auto">
        <label for="email-login">email:</label>
        <br>
        <input class="border-2 border-green-500" type="text" id="email-login" />
    </div>
    <br>
    <div>
        <label for="password-login">password:</label>
        <br>
        <input class="border-2 border-green-500" type="password" id="password-login" />
    </div>
    <br>
    <div>
        <button type="submit">login</button>
    </div>
</form>

<form class="signup-form text-center">
    <div>
        <label for="username-signup">username:</label>
        <br>
        <input class="border-2 border-green-500"type="text" id="username-signup" />
    </div>
    <br>
    <div>
        <label for="email-signup">email:</label>
        <br>
        <input class="border-2 border-green-500" type="text" id="email-signup" />
    </div>
    <br>
    <div>
        <label for="password-signup">password:</label>
        <br>
        <input class="border-2 border-green-500" type="password" id="password-signup" />
    </div>
    <br>
    <div>
        <button type="submit">signup</button>
    </div>
</form>
</div>
<script src="/javascript/login.js"></script>