<div class="container mx-auto">
    <div class="py-8">
        {{> post-info post}}
    </div>
    <div>
        <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </div>
</div>
{{#if loggedIn}}
<form class="comment-form grid justify-items-center py-8">
    <div>
        <textarea name="comment-body"></textarea>
    </div>
    <div>
        <button type="submit">add comment</button>
    </div>
</form>
{{/if}}
{{> comments post.comments}}
</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}